/*
** GENERAL
*/

body {
  background: rgb(4, 0, 5) !important;
  color: #fff;
}

h1 {
  color: #f793f7;
}

/*
** THEME
*/

.bg-dark {
  background-color: rgb(13, 7, 31) !important;
  border-color: rgb(42, 21, 100);
}

.btn-secondary {
  background-color: #34164f;
  border-color: #3d185e;
}

.btn-secondary:hover {
  background-color: #421d63;
  border-color: #4b1f72;
}

.btn-secondary.disabled,
.btn-secondary.disabled:hover {
  background-color: #34164f;
  border-color: #3d185e;
}

.btn-success {
  background-color: #d937c0;
  border-color: #d937c0;
}

.btn-success:hover {
  background-color: #d937c0;
  border-color: #d0b3a4;
}

.btn-success.disabled,
.btn-success.disabled:hover {
  background-color: #d937c0;
  border-color: #d937c0;
}

/*
** OTHER
*/

.navbar-dark .navbar-brand {
  text-shadow: #d937c0 0px 0px 7px;
}
.navbar.bg-dark {
  background-color: rgb(13, 7, 31) !important;
}

.card-header {
  border-color: rgb(25, 12, 59);
}

.ui {
  background: #020014;
  height: 140px;
  border-top: 1px solid #8b7469;
}
